<nav class="navbar fixed-top navbar-light p-3">
   
    <div class="container">
        <div class="row">

        <div class="col-8">
            <span class="p-1 navbar-brand text-light inverse-color" href="#">
                <svg style="transform:translateY(-2px);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-app-indicator" viewBox="0 0 16 16">
                    <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"/>
                    <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  </svg>
                  The E-One
            </span>
        </div>
    </div>
    <!-- <app-searchbox></app-searchbox> -->
    <div class="row"> 
        <div class="col-4">
            <a class="navbar-brand text-light " routerLink="/home">Home</a> 
        </div>

        <!-- <div class="col-4">
            <a class="navbar-brand text-light " routerLink="/home">Wishlist</a> 
        </div> -->

        <div class="col-4">
            <a class="navbar-brand text-light bg-info opacity-75" style="width: 80px;" routerLink="/cart">
            <svg style="width: 100px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-cart3" viewBox="0 0 20 20 ">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </a>
        </div>
    </div>
    </div>


</nav>

