.navbar{
    background-color: black;
}

#cartbutton{
    background-color: rgb(76, 124, 172,0.7);
    width: 80px;
}

#cartbutton:hover{
    background-color: rgba(106, 148, 190);
}

#menu-icon{
    width: 100px;
    transition: transform 1s;
}

#menu-icon:hover{
    transform: rotate(180deg);
    cursor: pointer;
}

#manage-icon{
    margin-bottom: 4px;
    margin-right: 2px;  
    transition: transform 1s;
}

#managetop:hover #manage-icon{
    transform: rotate(360deg);
    cursor: pointer;
}

