img{
    width: 100px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.card button{
    width: 110px;
}

.card-title{
    height: 50px;
}

.card-body{
    background-color: rgb(210, 228, 248);
 
}