img{
    width: 120px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.card button{
    width: 109px;
}

.card-title{
    height: 25px;
}

.card-body{
    background-color: rgb(151, 215, 231)
 
}