img{
    width: 120px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.card button{
    width: 109px;
    
}

.card-title{
    height: 25px;
}

.card-body{
    background-color: rgba(54, 145, 187, 0.6)
 
}
.searchbox{
    display: inline-block;
    height: 38px;
    border-radius:  10px 0 0 10px;
    padding: 4px;
  }
  
.searchbutton{
    transform:translateY(-6.5%);
    display: inline-block;
    height: 35px;
    padding: 2.5px;
    border-radius: 0 10px 10px 0 ;
    opacity: .9;
}

.sortingbox{
    height: 35px;
}